@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: #f0f1f2da;
    --secondary--color: #899ac4;
    --text-color: #7e93c2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--primary-color);
    color: rgb(135, 189, 175);
    font-size: 18px;
    line-height: 1.6;
}

h1,
h2,
h3,
p {
    margin-bottom: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(81, 88, 143)
}

ul {
    list-style: none;
}

.btn {
    display: inline-block;
    border: 0;
    background: var(--secondary--color);
    color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 550px;
    position: center;
    top: 150%;
    

}

.btn:hover {
    transform: scale(0.98);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary--color);
}

section {
    position: relative;
    padding: 0 20px;
}

/* section top */
.section-top {
    min-height: 500px;
    padding: 100px;
    background: url('../img/1.jpeg') no-repeat center center/cover;
}


.section-top h1 {
    font-size: 70px;
    list-style: 1.3;
    text-align: center;
    
}

.section-top .content {
    position: absolute;
    top: 100px;
    right: 70px;
    width: 50%;
    text-align: center;
}

/* sectin stream */
.section-stream {
    min-height: 700px;
    background: url('../img/1.png') no-repeat center center/cover;
}

.section-stream h2 {
    font-size: 35px;
}

.section-stream .play {
    width: 25%;
    position: absolute;
    top: 100px;
    left: 80px;
}

.section-stream .content {
    position: absolute;
    width: 50%;
    top: 130px;
    right: 70px;
}

.section-stream .content > div, 
.section-grid > div {
    background: rgba(210, 197, 197, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* section gird */
.section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.section-grid i {
    color: var(--secondary--color);
}

.section-grid p {
    color: var(--text-color);
}

.section-grid .dot {
    font-size: 40px;
    padding-left: 2px;
}

/* footer */
.footer {
    border-top: var(--text-color) 1px solid;
    padding: 30px;
    margin-top: 20px;
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}


/* mobile */
@media(max-width: 700px) {
    .section-top .content,
    .section-stream .play,
    .section-stream .content {
        position: static;
        width: 100%;
    }

    .section-top {
        min-height: 200px;
        padding-top: 20px;
    }

    .section-top .content {
        text-align: center;
    }

    .section-top .content h1 {
        font-size: 45px;
    }

    .section-stream {
        min-height: 400px;
    }

    .section-stream .play {
        width: 50%;
        display: block;
        margin: 30px auto;
        opacity: 40%;
    }

    .section-grid {
        display: block;
        margin-top: 0;
    }

    .btn {
        width: 50%;
        display: block;
        margin: 30px auto;
    }
}